@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  
}

@theme inline {
  --background: #f8fafc; /* Un gris très clair, type slate-50 */
  --foreground: #0f172a; /* Texte sombre, type slate-900 */
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0f172a; /* Texte sombre, type slate-900 */
  --foreground: #f8fafc; /* Un gris très clair, type slate-50 */
  }
}

body {
background-color: var(--background);
    color: var(--foreground);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
